
@{
    Layout = null;
}

<div class="page-content-inner">

    <div class="page-header">
        <div class="page-title">
            <h3>Dashboard <small>User activities, notifications, profile, etc</small></h3>
        </div>
        <div id="reportrange" class="range">

        </div>
    </div>


    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li><a href="#dashboard" data-toggle="tab"><i class="icon-screen2"></i> Dashboard</a></li>
            <li class="active"><a href="#profile" data-toggle="tab"><i class="icon-user4"></i> Profile</a></li>
            <li><a href="#accounts" data-toggle="tab"><i class="icon-grid2"></i> Accounts</a></li>
        </ul>

        <div class="tab-content with-padding">
            <div class="tab-pane fade in" id="dashboard">
            </div>

            <div class="tab-pane fade in active" id="profile"
                 ng-controller="ProfileViewModel as vm">
                <div class="row">
                    <div class="col-lg-2">

                        <!-- Profile links -->
                        <div class="block">
                            <div class="thumbnail">
                                <div class="thumb">
                                    <img alt="" ng-src="{{vm.profileImageUrl()}}" style="max-width:200px; max-height:200px;" id="profile-image"/>
                                    <div class="thumb-options">
                                        <span>
                                            <label class="btn btn-icon btn-success"
                                                   style="margin-right:5px;">
                                                <i class="icon-pencil"></i>
                                                <input type="file"                                                        
                                                       binary-data="vm.profileImage" 
                                                       style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;"/>
                                            </label>
                                            <a class="btn btn-icon btn-success" 
                                               ng-click="vm.persistProfileImage()"
                                               ng-show="vm.isProfileImageChanged">
                                                <i class="icon-thumbs-up3"
                                                   ng-hide="vm.isPersistingProfileImage"></i>
                                                <div id="persist-profileImage-ring-loader" ng-show="vm.isPersistingProfileImage"></div>
                                            </a>
                                            <a class="btn btn-icon btn-danger"
                                               ng-click="vm.removeProfileImage()">
                                                <i class="icon-remove"
                                                   ng-hide="vm.isRemovingProfileImage"></i>
                                                <div id="remove-profileImage-ring-loader" ng-show="vm.isRemovingProfileImage"></div>
                                            </a>
                                        </span>
                                    </div>
                                </div>

                                <div class="caption text-center">
                                    <strong>{{vm.nameDisplay()}}</strong>
                                    <div class="icons-group hidden">
                                        <a href="#" title="" class="tip" data-original-title="Google Drive"><i class="icon-google-drive"></i></a>
                                        <a href="#" title="" class="tip" data-original-title="Twitter"><i class="icon-twitter"></i></a>
                                        <a href="#" title="" class="tip" data-original-title="Github"><i class="icon-github3"></i></a>
                                    </div>
                                </div>
                            </div>


                            <div class="jgrowl-showcase" style="margin-top:20px;">
                                <div class="jGrowl" ng-show="vm.hasProfileImagePersistenceError">
                                    <div class="jGrowl-notification growl-error">
                                        <div class="jGrowl-close" ng-click="vm.hasProfileImagePersistenceError = false">×</div>
                                        <div class="jGrowl-header">Error!</div>
                                        <div class="jGrowl-message">Something went wrong while processing your changes</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /profile links -->

                    </div>

                    <div class="col-lg-10">

                        <!-- Page tabs -->
                        <div class="tabbable page-tabs">

                            <div class="tab-pane fade active in" id="settings">

                                <!-- Profile information -->
                                <form action="#" class="block" role="form">

                                    <!---Biodata Info-->
                                    <h6 class="heading-hr clearfix">
                                        <i class="icon-user"></i> Bio-data information:

                                        <span style="display:inline-block; float:right;">
                                            <button ng-show="!vm.isEditingBioData" 
                                                    ng-click="vm.isEditingBioData = true" 
                                                    type="button" 
                                                    class="btn btn-xs btn-info"><i class="icon-pencil"></i>&nbsp;Edit</button>
                                            <button ng-show="vm.isEditingBioData" 
                                                    ng-click="vm.persistBiodata()" 
                                                    type="button" 
                                                    class="btn btn-xs btn-success">
                                                <i class="icon-thumbs-up3" ng-hide="vm.isPersistingBiodata"></i>
                                                <div id="bio-ring-loader" ng-show="vm.isPersistingBiodata"></div>

                                                &nbsp;Ok</button>
                                        </span>
                                    </h6>


                                    <div class="block-inner" ng-hide="vm.isEditingBioData">
                                        <div class="callout callout-default fade in">
                                            <h5>{{vm.nameDisplay()}}</h5>
                                            <p style="font-size:14px;">
                                                <i class="icon-calendar3 text-muted"></i>&nbsp;&nbsp;
                                                <span class="text-muted">Date of birth </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong class="">{{vm.dobDisplay()}}</strong>
                                            </p>
                                            <p style="font-size:14px;">
                                                <i class="fa fa-venus-mars text-muted"></i>&nbsp;&nbsp;
                                                <span class="text-muted">Gender </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong class="">{{vm.genderDisplay()}}</strong>
                                            </p>
                                            <p style="font-size:14px;">
                                                <i class="fa fa-globe text-muted"></i>&nbsp;&nbsp;
                                                <span class="text-muted">Nationality </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong class="">{{vm.nationalityDisplay()}}</strong>
                                            </p>
                                            <p style="font-size:14px;">
                                                <i class="icon-location text-muted"></i>&nbsp;&nbsp;
                                                <span class="text-muted">State of Origin </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong class="">{{vm.stateOfOriginDisplay()}}</strong>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="block-inner" ng-show="vm.isEditingBioData">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>First name</label>
                                                    <input type="text" ng-model="vm.biodata.FirstName" placeholder="First name" class="form-control">
                                                    <label ng-hide="vm.isFirstNameSet()" class="error">This field is required.</label>

                                                </div>
                                                <div class="col-md-4">
                                                    <label>Middle name</label>
                                                    <input type="text" ng-model="vm.biodata.MiddleName" placeholder="First name" class="form-control">
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Last name</label>
                                                    <input type="text" ng-model="vm.biodata.LastName" placeholder="First name" class="form-control">
                                                    <label ng-hide="vm.isLastNameSet()" class="error">This field is required.</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Date of Birth</label>
                                                    <input class="form-control" type="date" name="date" ng-model="vm.dobBinding" />
                                                </div>

                                                <div class="col-md-4">
                                                    <label>Gender</label>
                                                    <div class="form-group">
                                                        <select class="multi-select biodata-gender" ng-model="vm.biodata.Gender">
                                                            <option value="0">Female</option>
                                                            <option value="1">Male</option>
                                                            <option value="2">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    $('.multi-select.biodata-gender').multiselect({
                                                        buttonClass: 'btn btn-default',
                                                        onChange: function (element, checked) {
                                                            $.uniform.update();
                                                        }
                                                    });
                                                </script>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Country</label>
                                                    <input type="text" ng-model="vm.biodata.Nationality" placeholder="Country" class="form-control">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>State/Province</label>
                                                    <input type="text" ng-model="vm.biodata.StateOfOrigin" placeholder="State/Province/Region" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="jgrowl-showcase">
                                        <div class="jGrowl" ng-show="vm.hasBiodataPersistenceError">
                                            <div class="jGrowl-notification growl-error">
                                                <div class="jGrowl-close" ng-click="vm.hasBiodataPersistenceError = false">×</div>
                                                <div class="jGrowl-header">Error!</div>
                                                <div class="jGrowl-message">Something went wrong while saving your changes</div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Contact Info-->
                                    <h6 class="heading-hr clearfix" style="margin-top:60px;">
                                        <i class="icon-lock"></i> Contact information:

                                        <span style="display:inline-block; float:right;">
                                            <button ng-show="!vm.isEditingContactData"
                                                    ng-click="vm.isEditingContactData = true"
                                                    type="button"
                                                    class="btn btn-xs btn-info">
                                                <i class="icon-pencil"></i>&nbsp;Edit
                                            </button>
                                            <button ng-show="vm.isEditingContactData"
                                                    ng-click="vm.persistContactData()"
                                                    type="button"
                                                    class="btn btn-xs btn-success">
                                                <i class="icon-thumbs-up3" ng-hide="vm.isPersistingContactdata"></i>
                                                <div id="contact-ring-loader" ng-show="vm.isPersistingContactdata"></div>

                                                &nbsp;Ok
                                            </button>
                                        </span>
                                    </h6>


                                    <div class="block-inner" ng-hide="vm.isEditingContactData">
                                        <div class="callout callout-default fade in">
                                            <p style="font-size:14px;">
                                                <i class="icon-mail4 text-primary"></i>&nbsp;&nbsp;<span class="text-primary"><strong>{{vm.emailDisplay()}}</strong></span>
                                            </p>
                                            <p style="font-size:14px;">
                                                <i class="fa fa-venus-mars text-muted"></i>&nbsp;&nbsp;
                                                <span class="text-muted">Alternate Email </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong class="">{{vm.alternateEmailDisplay()}}</strong>
                                            </p>
                                            <p style="font-size:14px;">
                                                <i class="icon-phone text-muted"></i>&nbsp;&nbsp;
                                                <span class="text-muted">Phone 1 </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong class="">{{vm.phoneDisplay()}}</strong>
                                            </p>
                                            <p style="font-size:14px;">
                                                <i class="icon-phone text-muted"></i>&nbsp;&nbsp;
                                                <span class="text-muted">Phone 2 </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong class="">{{vm.alternatePhoneDisplay()}}</strong>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="block-inner" ng-show="vm.isEditingContactData">

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Primary Email</label>
                                                    <input type="email" readonly ng-model="vm.contact.Email" class="form-control"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Alternate Email</label>
                                                    <input type="email" placeholder="Alternate Email" ng-model="vm.contact.AlternateEmail" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Phone #</label>
                                                    <input type="text" ng-model="vm.contact.Phone" class="form-control" placeholder="Phone #"/>
                                                    <span class="help-block">+000 00 000 0000</span>
                                                </div>

                                                <div class="col-md-6">
                                                    <label>Alternate Phone #</label>
                                                    <input type="text" ng-model="vm.contact.AlternatePhone" class="form-control" placeholder="Alternate Phone #"/>
                                                    <span class="help-block">+000 00 000 0000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="jgrowl-showcase">
                                        <div class="jGrowl" ng-show="vm.hasContactdataPersistenceError">
                                            <div class="jGrowl-notification growl-error">
                                                <div class="jGrowl-close" ng-click="vm.hasContactdataPersistenceError = false">×</div>
                                                <div class="jGrowl-header">Error!</div>
                                                <div class="jGrowl-message">Something went wrong while saving your changes</div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                <!-- /profile information -->

                            </div>

                        </div>
                        <!-- /page tabs -->

                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="accounts"
                 ng-controller="UserAccountViewModel as vm">
                <div class="row">

                    <div class="col-lg-12" ng-show="vm.isSelectingAccountType">

                        <div class="callout fade in" style="padding:10px !important;">
                            <h6>Choose the account(s) that best describe(s) you</h6>
                        </div>

                        <div class="col-sm-4" style="text-align:right;">
                            <div style="min-height:400px;"
                                 class="gaia-card-shadow">
                                <div style="text-align:center; background:olivedrab; margin:0px; padding:10px;">
                                    <div class="btn-group btn-group-xs">
                                        <button disabled class="btn btn-default"  
                                                ng-class="{'btn-default':vm.isConsumerAccount(), 'btn-danger':!vm.isConsumerAccount()}">
                                            {{vm.isConsumerAccount()? 'Yes':'No'}}
                                        </button>
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret caret-split"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-click="vm.activateConsumerAccount(true)" ng-class="{'active':vm.isConsumerAccount()}"><a href><i class="icon-thumbs-up"></i> Yes</a></li>
                                            <li ng-hide="vm.isConsumerAccount()"
                                                ng-click="vm.activateConsumerAccount(false)" 
                                                ng-class="{'active':!vm.isConsumerAccount()}">
                                                <a href><i class="icon-thumbs-down"></i> No</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <strong>, I'm{{!vm.isConsumerAccount()? ' not':''}} a</strong>
                                </div>
                                <div style="height:200px; background: url('/Content/images/consumer.svg') no-repeat center border-box olivedrab;"></div>

                                <h5 style="text-align:center; margin-top:15px;">Consumer</h5>

                                <p style="text-align:justify; margin:0 10px;">
                                    <strong>
                                        As a <span class="text-muted">consumer</span>, you will enjoy the richly featured, and highly satisfying experience of finding and purchasing Products and Services that fit you needs.
                                    </strong>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-4" style="text-align:right;">
                            <div style="min-height:400px;"
                                 class="gaia-card-shadow">
                                <div style="text-align:center; background:orange; margin:0px; padding:10px;">
                                    <div class="btn-group btn-group-xs">
                                        <button disabled class="btn" 
                                                ng-class="{'btn-info':vm.isServiceProviderAccount(), 'btn-danger':!vm.isServiceProviderAccount()}">
                                            {{vm.isServiceProviderAccount()? 'Yes':'No'}}
                                        </button>
                                        <button class="btn dropdown-toggle" 
                                                data-toggle="dropdown"
                                                ng-class="{'btn-info':vm.isServiceProviderAccount(), 'btn-danger':!vm.isServiceProviderAccount()}">
                                            <span class="caret caret-split"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-click="vm.activateServiceProviderAccount(true)" ng-class="{'active':vm.isServiceProviderAccount()}"><a href><i class="icon-thumbs-up"></i> Yes</a></li>
                                            <li ng-hide="vm.isServiceProviderAccount()" 
                                                ng-click="vm.activateServiceProviderAccount(false)" 
                                                ng-class="{'active':!vm.isServiceProviderAccount()}">
                                                <a href><i class="icon-thumbs-down"></i> No</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <strong>, I'm{{!vm.isServiceProviderAccount()? ' not':''}} a</strong>
                                </div>
                                <div style="height:200px; background: url('/Content/images/service-provider.svg') no-repeat center border-box orange;">

                                </div>

                                <h5 style="text-align:center; margin-top:15px;">Service Provider</h5>

                                <p style="text-align:justify; margin:0 10px;">
                                    <strong>
                                        As a <span class="text-info">Service Provider</span>, you will enjoy the richly featured, and highly satisfying experience of finding and purchasing Products and Services that fit you needs.
                                    </strong>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-4" style="text-align:left;">
                             <div style="min-height:400px;"
                                  class="gaia-card-shadow">
                                 <div style="text-align:center; background:steelblue; margin:0px; padding:10px;">
                                     <div class="btn-group btn-group-xs">
                                         <button disabled class="btn" ng-class="{'btn-success':vm.isFarmerAccount(), 'btn-danger':!vm.isFarmerAccount()}">
                                             {{vm.isFarmerAccount()? 'Yes':'No'}}
                                         </button>
                                         <button class="btn dropdown-toggle" 
                                                 data-toggle="dropdown"
                                                 ng-class="{'btn-success':vm.isFarmerAccount(), 'btn-danger':!vm.isFarmerAccount()}">
                                            <span class="caret caret-split"></span>
                                         </button>
                                         <ul class="dropdown-menu">
                                             <li ng-click="vm.activateFarmerAccount(true)"  ng-class="{'active':vm.isFarmerAccount()}"><a href><i class="icon-thumbs-up"></i> Yes</a></li>
                                             <li ng-hide="vm.isFarmerAccount()" 
                                                 ng-click="vm.activateFarmerAccount(false)" 
                                                 ng-class="{'active':!vm.isFarmerAccount()}">
                                                <a href><i class="icon-thumbs-down"></i> No</a>
                                             </li>
                                         </ul>
                                     </div>
                                     <strong>, I'm{{!vm.isFarmerAccount()? ' not':''}} a</strong>
                                 </div>
                                 <div style="height:200px; background: url('/Content/images/farmer.svg') no-repeat center border-box steelblue;">

                                 </div>

                                 <h5 style="text-align:center; margin-top:15px;">Farmer</h5>

                                 <p style="text-align:justify; margin:0 10px;">
                                     <strong>
                                         As a <span class="text-success">consumer</span>, you will enjoy the richly featured, and highly satisfying experience of finding and purchasing Products and Services that fit you needs.
                                     </strong>
                                 </p>

                                 <div style="border-top:1px solid #ccc; margin-top:15px; padding:10px; margin-left: 2px; margin-right:2px;"
                                      class="clearfix"
                                      ng-show="vm.isFarmerAccount()">
                                     <h6 class="pull-left">
                                         Farm Info
                                     </h6>
                                     <div class="btn-group pull-right">
                                         <button type="button" class="btn btn-xs btn-info"
                                                 data-toggle="tooltip" title="Edit Farm Info">
                                             Edit
                                         </button>
                                     </div>
                                 </div>
                              </div>
                        </div>
                    </div>

                    <!--Old stuff-->
                    <div class="hidden">
                        <div class="callout fade in">
                            <h5>{{vm.accountCategory}}</h5>
                            <p>{{vm.description}}</p>
                        </div>

                        <div style="margin-bottom:30px; font-size:17px; text-align:center;" ng-show="vm.canUpgradeAccount">
                            <p>
                                You can <a class="text-success" ng-click="vm.upgradeToMerchant()">Upgrade <i class="icon-arrow-up9"></i></a> your account to become a <strong>merchant</strong>.
                            </p>
                        </div>
                        <div class="jgrowl-showcase" ng-show="vm.hasUpgradeMessage">
                            <div class="jGrowl">
                                <div class="jGrowl-notification" ng-class="vm.upgradeMessageClass">
                                    <div class="jGrowl-close" ng-click="vm.hasUpgradeMessage = false">×</div>
                                    <div class="jGrowl-header">{{vm.upgradeMessageTitle}}</div>
                                    <div class="jGrowl-message">{{vm.upgradeMessageDescription}}</div>
                                </div>
                            </div>
                        </div>


                        <!-- Page tabs -->
                        <div class="tabbable page-tabs" ng-hide="vm.canUpgradeAccount">

                            <ul class="nav nav-pills nav-justified"
                                ng-controller="AccountTabsViewModel as vm">
                                <li class="active">
                                    <a href="#businesses" data-toggle="tab">
                                        <i class="icon-briefcase"></i> Businesses
                                        <span ng-show="vm.counter.businessVm.businessList.length>0" class="label label-primary">{{vm.counter.businessVm.businessList.length}}</span>
                                    </a>
                                </li>
                                <li class="" ng-show="vm.hasBusinesses">
                                    <a href="#farms" data-toggle="tab">
                                        <i class="icon-clubs"></i> Farms
                                        <span ng-show="vm.counter.farmVm.farmList.length>0" class="label label-primary">{{vm.counter.farmVm.farmList.length}}</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <!-- First tab -->
                                <div class="tab-pane fade in active" id="businesses"
                                     ng-controller="BusinessAccountViewModel as vm">

                                    <div ng-show="vm.isListingBusinesses">

                                        <div class="" style="text-align:right; margin-bottom:10px;">
                                            <button type="button"
                                                    ng-click="vm.addAndEditBusiness()"
                                                    class="btn btn-sm btn-info">
                                                <i style="font-size:16px;" class="fa fa-plus"></i>&nbsp;&nbsp;Add
                                            </button>
                                            <hr style="margin-top:10px;" />
                                        </div>

                                        <div style="text-align:center;" ng-hide="vm.businessList.length>0">
                                            <h2 class="text-muted" style="text-align:center;">Oops!</h2>
                                            <p class="text-muted" style="font-size:16px;">
                                                You haven't added any <strong class="text-info">Business accounts</strong> to your profile. Click the [ <i class="icon-plus" style="color:black; font-size:14px;"></i> ] button above to get started.
                                            </p>
                                        </div>

                                        <div class="col-md-4 col-sm-6"
                                             style="padding-left:0px;"
                                             ng-repeat="business in vm.businessList">
                                            <div class="block task task-blue">
                                                <div class="row with-padding">
                                                    <div class="col-sm-9">
                                                        <div class="task-description">
                                                            <a class="text-info" ng-click="vm.showBusinessDetails(business)">{{business.CorporateName || '-N/A-'}}</a>
                                                            <i>{{business.CorporateId}}</i>
                                                            <span ng-bind-html="vm.getBusinessDescription(business)"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="task-info">
                                                            <span>{{vm.displayDate(business.IncorporationDate)}}</span>

                                                            <span>
                                                                <span ng-show="vm.isDraft(business)"
                                                                      class="label label-default">
                                                                    Draft
                                                                </span>
                                                                <span ng-show="vm.isVerified(business)"
                                                                      class="label label-success">
                                                                    Verified
                                                                </span>
                                                                <span ng-show="vm.isVerifying(business)"
                                                                      class="label label-warning">
                                                                    Verifying
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="pull-right">
                                                        <ul class="footer-icons-group">
                                                            <li ng-show="vm.isDraft(business)">
                                                                <a ng-click="vm.editBusiness(business)" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="icon-pencil"></i></a>
                                                            </li>
                                                            <li ng-show="vm.isDraft(business)">
                                                                <a ng-click="vm.removeBusiness(business)" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="icon-remove3 text-danger"></i></a>
                                                            </li>
                                                            <li ng-show="vm.isDraft(business)">
                                                                <a ng-click="" data-toggle="tooltip" data-placement="bottom" title="Submit for Verification"><i class="icon-checkmark3 text-success"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="vm.isEditingBusiness">

                                        <form action="#" class="block" role="form">

                                            <h6 class="heading-hr clearfix">
                                                <i class="icon-user"></i> Corporate information:

                                                <span style="display:inline-block; float:right;" class="btn-group">
                                                    <button ng-click="vm.backToListingBusinesses()"
                                                            type="button"
                                                            class="btn btn-xs btn-default">
                                                        <i class="icon-arrow-left4"></i>
                                                        &nbsp;Back
                                                    </button>
                                                    <button ng-click="vm.persistCurrentBusinessData()"
                                                            type="button"
                                                            class="btn btn-xs btn-success">
                                                        <i class="icon-thumbs-up3" ng-hide="vm.isPersistingBusiness"></i>
                                                        <div id="persist-business-ring-loader" ng-show="vm.isPersistingBusiness"></div>
                                                        &nbsp;Ok
                                                    </button>
                                                </span>
                                            </h6>

                                            <div class="block-inner">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label><strong>Corporate Name</strong></label>
                                                            <input type="text" ng-model="vm.currentBusinessData.CorporateName" placeholder="Business name" class="form-control">
                                                            <label ng-hide="vm.isBusinessNameSet()" class="error">This field is required.</label>

                                                        </div>
                                                        <div class="col-md-4">
                                                            <label><strong>CAC Ref/Id</strong></label>
                                                            <input type="text" ng-model="vm.currentBusinessData.CorporateId" placeholder="CAC Ref/Id, etc..." class="form-control">
                                                            <label ng-hide="vm.isBusinessIdSet()" class="error">This field is required.</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label><strong>Incorporation date</strong></label>
                                                            <input class="form-control" type="date" name="date" ng-model="vm.businessIncorporationDateBinding" />
                                                            <label ng-hide="vm.isBusinessIncorporationDateSet()" class="error">This field is required.</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label><strong>Company description - other information about the business</strong></label>
                                                            <div id="richtext-editor"></div>
                                                            <script type="text/javascript">

    $(function () {

        $('#richtext-editor').summernote({
            toolbar: [['style', ['style']],
                      ['font', ['bold', 'italic', 'underline', 'clear', 'fontname']],
                      ['fontsize', ['fontsize']],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph', 'height']],
                      ['insert', ['table', 'link', 'picture', 'hr']]],
            height: 250
        });
    });
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jgrowl-showcase">
                                                <div class="jGrowl" ng-show="vm.hasBusinessPersistenceError">
                                                    <div class="jGrowl-notification growl-error">
                                                        <div class="jGrowl-close" ng-click="vm.hasBusinessPersistenceError = false">×</div>
                                                        <div class="jGrowl-header">Error!</div>
                                                        <div class="jGrowl-message">Something went wrong while saving your changes</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                    <div ng-show="vm.isDetailingBusiness">
                                        <div class="clearfix">
                                            <i class="icon-briefcase pull-left" style="font-size:40px;"></i>
                                            <button ng-click="vm.backToListingBusinesses()"
                                                    type="button"
                                                    class="btn btn-xs btn-default pull-right">
                                                <i class="icon-arrow-left4"></i>
                                                &nbsp;Back
                                            </button>
                                        </div>
                                        <hr style="margin-top:10px;" />
                                        <span class="label" ng-class="vm.businessStatusClass(this.currentBusinessData)">{{vm.businessStatus(this.currentBusiness)}}</span>
                                        <h2>
                                            {{vm.currentBusinessData.CorporateName}}
                                            <small class="display-block" style="margin-top:20px;">{{vm.currentBusinessData.CorporateId}}</small>
                                            <small class="display-block" style="margin-top:20px;">
                                                <span class="text-warning">Incorporated on </span> <strong>{{vm.displayDate(vm.currentBusinessData.IncorporationDate)}}</strong>
                                            </small>
                                        </h2>
                                        <hr />
                                        <div style="margin-top:20px;" ng-bind-html="vm.currentBusinessData.Description"></div>

                                    </div>

                                </div>
                                <!-- /first tab -->
                                <!-- Third tab -->
                                <div class="tab-pane fade" id="farms"
                                     ng-controller="FarmAccountViewModel as vm">

                                    <div ng-show="vm.isListingFarms">

                                        <div class="" style="text-align:right; margin-bottom:10px;">
                                            <button type="button"
                                                    ng-click="vm.addAndEditFarm()"
                                                    class="btn btn-sm btn-info">
                                                <i style="font-size:16px;" class="fa fa-plus"></i>&nbsp;&nbsp;Add
                                            </button>
                                            <hr style="margin-top:10px;" />
                                        </div>

                                        <div style="text-align:center;" ng-hide="vm.farmList.length>0">
                                            <h2 class="text-muted" style="text-align:center;">Oops!</h2>
                                            <p class="text-muted" style="font-size:16px;">
                                                You haven't added any <strong class="text-success">Farm accounts</strong> to your profile. Click the [ <i class="icon-plus" style="color:black; font-size:14px;"></i> ] button above to get started.
                                            </p>
                                        </div>

                                        <div class="col-md-4 col-sm-6"
                                             style="padding-left:0px;"
                                             ng-repeat="farm in vm.farmList">
                                            <div class="block task task-normal">
                                                <div class="row with-padding">
                                                    <div class="col-sm-9">
                                                        <div class="task-description">
                                                            <a class="text-success" ng-click="vm.showFarmDetails(farm)">{{'['+vm.farmCategory(farm)+'] Farm' || '-Not Available-'}}</a>
                                                            <span ng-bind-html="vm.getFarmDescription(farm)"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="task-info">
                                                            <span></span>

                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="pull-right">
                                                        <ul class="footer-icons-group">
                                                            <li>
                                                                <a ng-click="vm.editFarm(farm)" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="icon-pencil"></i></a>
                                                            </li>
                                                            <li>
                                                                <a ng-click=""
                                                                   data-toggle="tooltip"
                                                                   data-placement="bottom" title="Delete">
                                                                    <i class="icon-remove3 text-danger"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="vm.isEditingFarm">

                                        <form action="#" class="block" role="form">

                                            <h6 class="heading-hr clearfix">
                                                <i class="icon-user"></i> Farm information:

                                                <span style="display:inline-block; float:right;" class="btn-group">
                                                    <button ng-click="vm.backToListingFarms()"
                                                            type="button"
                                                            class="btn btn-xs btn-default">
                                                        <i class="icon-arrow-left4"></i>
                                                        &nbsp;Back
                                                    </button>
                                                    <button ng-click="vm.persistCurrentFarm()"
                                                            type="button"
                                                            class="btn btn-xs btn-success">
                                                        <i class="icon-thumbs-up3" ng-hide="vm.isPersistingFarm"></i>
                                                        <div id="persist-farm-ring-loader" ng-show="vm.isPersistingFarm"></div>
                                                        &nbsp;Ok
                                                    </button>
                                                </span>
                                            </h6>

                                            <div class="block-inner">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label><strong>Farm category</strong> &nbsp;&nbsp;</label>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                    {{vm.selectedFarmCategory}}
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-right icons-right" style="">
                                                                    <li ng-repeat="type in vm.farmCategories"
                                                                        ng-class="{active:(vm.selectedFarmCategory == type)}">
                                                                        <a ng-click="vm.selectCategory(type)">{{type}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label><strong>Geo Data</strong></label>
                                                            <input class="form-control" type="text" ng-model="vm.currentFarm.GeoData" />
                                                            <label ng-show="Object.isNullOrUndefined(vm.currentFarm.GeoData)" class="error">This field is required.</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label><strong>Farm Description</strong></label>
                                                            <div id="farms-richtext-editor"></div>
                                                            <script type="text/javascript">

    $(function () {

        $('#farms-richtext-editor').summernote({
            toolbar: [['style', ['style']],
                      ['font', ['bold', 'italic', 'underline', 'clear', 'fontname']],
                      ['fontsize', ['fontsize']],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph', 'height']],
                      ['insert', ['table', 'link', 'picture', 'hr']]],
            height: 250
        });
    });
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jgrowl-showcase">
                                                <div class="jGrowl" ng-show="vm.hasFarmPersistenceError">
                                                    <div class="jGrowl-notification growl-error">
                                                        <div class="jGrowl-close" ng-click="vm.hasFarmPersistenceError = false">×</div>
                                                        <div class="jGrowl-header">Error!</div>
                                                        <div class="jGrowl-message">Something went wrong while saving your changes</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>

                                    <div ng-show="vm.isDetailingFarm">
                                        <div class="clearfix">
                                            <i class="icon-office pull-left" style="font-size:40px;"></i>
                                            <button ng-click="vm.backToListingFarms()"
                                                    type="button"
                                                    class="btn btn-xs btn-default pull-right">
                                                <i class="icon-arrow-left4"></i>
                                                &nbsp;Back
                                            </button>
                                        </div>
                                        <hr style="margin-top:10px;" />
                                        <h2>
                                            {{vm.farmCategory(vm.currentFarm)}}
                                        </h2>
                                        <hr />
                                        <div style="margin-top:20px;" ng-bind-html="vm.currentFarm.Description"></div>
                                    </div>
                                </div>
                                <!-- /third tab -->

                            </div>
                        </div>
                        <!-- /page tabs -->
                    </div>
                    <!--/Old stuff-->

                    <div class="col-lg-12" ng-show="vm.isModifyingFarms">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            ringLoader($('#bio-ring-loader'), '14px', 'white');
            ringLoader($('#contact-ring-loader'), '14px', 'white');
            ringLoader($('#persist-profileImage-ring-loader'), '14px', 'white');
            ringLoader($('#remove-profileImage-ring-loader'), '14px', 'white');
            ringLoader($('#persist-business-ring-loader'), '14px', 'white');
            ringLoader($('#persist-service-ring-loader'), '14px', 'white');
            ringLoader($('#persist-farm-ring-loader'), '14px', 'white');
        });
    </script>
</div>