@{
    Layout = null;
}

<div>

    <div class="clearfix" style="margin-bottom:20px;">
        <!--Tool Bar-->
        <div style="display:inline-block;" class="pull-right">
            <div class="form-horizontal">
                <div class="form-group" style="margin:0px;">
                    <div class="has-feedback" style="display: inline-block;">
                        <input type="text" class="form-control" placeholder="Search Products" style="min-width:250px;" ng-model="vm.searchString">
                        <i class="icon-search3 form-control-feedback" style="right:0; cursor:pointer;"
                           ng-click="vm.search()"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="pull-left">
            <ul class="pagination">
                <li ng-show="vm.services.PageCount > 1">
                    <a href
                       ng-click="vm.listServices(0, vm.searchString)">
                        <i class="icon-arrow-left2"></i>
                    </a>
                </li>

                <li ng-class="{active: (pindex == vm.products.PageIndex)}"
                    ng-repeat="pindex in vm.products.AdjacentIndexes(4)">
                    <a href
                       ng-click="vm.listProducts(pindex, vm.searchString)">
                        {{pindex + 1}}
                    </a>
                </li>

                <li ng-show="vm.products.PageCount > 1">
                    <a href
                       ng-click="vm.listProducts(vm.products.PageCount-1, vm.searchString)">
                        <i class="icon-arrow-right3"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- the list-->
    <div style="display: flex; flex-direction: row; flex-wrap:wrap;">
        <small-product-card ng-repeat="item in vm.products" product="item" style="margin:10px;"></small-product-card>
    </div>

</div>