/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

@font-face {
    font-family: 'jura';
    src: url('/Content/fonts/jura/Jura-Medium.ttf') format('truetype');
}

#context-toolbar {
    margin:30px 0; 
    float: right;
}

@media (max-width: 768px) {
    #context-toolbar{
        margin-top: 0px;
        padding: 0px;
    }
}

.svg-icon{
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
}

.gaia-fade-in.ng-enter {
    transition: .5s;
    opacity: 0;
} 
.gaia-fade-in.ng-enter-active {
    opacity: 1;
}

.gaia-fade-out.ng-enter {
    transition: .5s;
    opacity: 1;
} 
.gaia-fade-out.ng-enter-active {
    opacity: 0;
}


.gaia-slide-in-left.ng-enter {
    transition: .3s ease-out;
    margin-right:-40px;
    margin-left:40px;
}
.gaia-slide-in-left.ng-enter-active {
    margin-right:0;
    margin-left:0;
}

.gaia-slide-out-left.ng-leave {
    transition: .3s ease-out;
    margin-right:0;
    margin-left:0;
}
.gaia-slide-out-left.ng-leave-active {
    margin-right:40px;
    margin-left:-40px;
}


.gaia-slide-in-right.ng-enter {
    transition: .3s ease-out;
    margin-left:-40px;
    margin-right:40px;
}
.gaia-slide-in-right.ng-enter-active {
    margin-right:0;
    margin-left:0;
}

.gaia-slide-out-right.ng-leave {
    transition: .3s ease-out;
    margin-left:0;
    margin-right:0;
}
.gaia-slide-out-right.ng-leave-active {
    margin-right:40px;
    margin-left:-40px;
}

ul.gaia-vertical-menu-list{
    list-style: none;
}

ul.gaia-vertical-menu-list > li{
    padding:5px;
}

ul.gaia-vertical-menu-list > li.active{
    border-right:3px solid #518CA3;
}

ul.gaia-vertical-menu-list > li.active > a{
    pointer-events: none;
}


.gaia-service-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

.gaia-service-item:hover{
    transition: .3s ease-out;
    border-bottom: #518CA3 solid 1px !important;
}

.material-shadow{
    box-shadow:0 1px 10px 2px rgba(0,0,0,0.4);
}

.material-shadow.material-interactive::after{
    content: '';
    box-shadow:0 2px 10px 2px rgba(0,0,0,0.6);
    opacity:0;
    transition: opacity 0.2s ease-in-out;
    width:100%;
    height:100%;
    display:inline-block;
    border-radius:50%;
}

.material-shadow.material-interactive:hover::after{
    opacity:1;
}

.inline-center-pseudo:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/* small product card  */
.small-product-card{
    width:230px;
    height:250px;
    position:relative;
}

.small-product-card > div.primary-button{
    position:absolute;
    border-radius:50%;
    width:40px;
    height:40px;
    background-color: brown;
    right:0;
    bottom:0;
    margin-bottom:73px;
    margin-right: 10px;
    z-index:2;
}

.small-product-card > div.flex-container{
    height:100%;
    z-index:1;
    display:flex;
    flex-direction:column;
}

.small-product-card > div.flex-container > div:nth-child(1){
    flex-basis:62.5%;
}

.small-product-card > div.flex-container > div.product-details{
    flex-basis:37.5%;
    background-color:white;
    display: flex;
    flex-direction:column;
}

.small-product-card > div.flex-container > div.product-details > div:nth-child(1) {
    height: 40%;
    box-sizing: border-box;
    padding: 15px 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-product-card > div.flex-container > div.product-details > div:nth-child(2) {
    height: 30%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-product-card > div.flex-container > div.product-details > div:nth-child(3) {
    height: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.small-product-card > div.flex-container > div.product-details > div:nth-child(3) div {
    width: 40%;
}

.small-product-card > div.flex-container > div.product-details > div:nth-child(3) div.product-price {
    margin-right:10px;
    text-align:right;
}

/* Large product card */
.large-product-card {
    width: 460px;
    height: 250px;
    position: relative;
}

.large-product-card > div.primary-button {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: brown;
    left: -20px;
    top: 0;
    margin-top: 10px;
    margin-left: 40%;
}

.large-product-card > div.flex-container {
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.large-product-card > div.flex-container > div:nth-child(1){
    width:40%;
}

.large-product-card > div.flex-container > div.product-details {
    width: 60%;
    background: white;
    box-sizing: border-box;
    padding: 10px 10px 10px 15px;
    display: flex;
    flex-direction:column;
}

.large-product-card > div.flex-container > div.product-details > div:nth-child(1){
    height:10%;
}

.large-product-card > div.flex-container > div.product-details > div:nth-child(2){
    height: 80%;
}

.large-product-card > div.flex-container > div.product-details > div:nth-child(3){
    height:10%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.large-product-card > div.flex-container > div.product-details > div:nth-child(3) > div.product-price{
    
}




