
@{
    Layout = null;
}



<div class="text-center" style="text-align:center; margin-top:150px;">
    <div style="font-size:17px;" ng-bind-html="vm.message()"></div>
    <a ui-sref="signin" class="btn btn-default" style="margin-top:50px;">Ok</a>
</div>
