
@{
    Layout = null;
}


<div class="login-wrapper" style="margin-top:-200px !important;">
    <form action="#" role="form">
        <div class="popup-header">
            <span class="text-semibold" style="font-size:medium; margin:8px !important;">User Login</span>
        </div>
        <div class="well">
            <div class="form-group has-feedback">
                <label>Email</label>
                <input id="email" type="email" ng-model="vm.email" class="form-control" placeholder="Email address" required>
                <i class="icon-users form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <label>Password</label>
                <input id="password" type="password" ng-model="vm.password" class="form-control" placeholder="Password" required>
                <i class="icon-lock form-control-feedback"></i>
            </div>
            <div class="row form-actions">
                <div class="col-xs-6">
                    <div class="checkbox checkbox-success">
                        <label>
                            <input type="checkbox" class="styled">
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <button type="button" ng-click="vm.signin()" class="btn btn-success pull-right">
                        <i class="icon-menu2" ng-hide="vm.isBusy"></i> 
                        <div id="ring-loader" ng-show="vm.isBusy"></div>
                        &nbsp;Sign in
                    </button>
                    <script type="text/javascript">
                        $(function () {
                            ringLoader($('#ring-loader'), '16px', 'white');
                        });
                    </script>
                </div>
            </div>
        </div>
    </form>

    <div class="btn-group btn-group-justified" style="margin-top:10px;">
        <div class="btn-group">
            <a ui-sref="signup" class="btn btn-default"><i class="icon-user-plus"></i> &nbsp;Sign-up</a>
        </div>
        <div class="btn-group">
            <a ui-sref="passwordRecoveryRequest" class="btn btn-warning"><i class="icon-unlocked"></i> Recover password</a>
        </div>
    </div>

    <div style="margin-top:20px;" class="alert-wrapper jgrowl-showcase" ng-class="{hidden:vm.hasNoErrors()}">
        <div class="jGrowl">
            <div class="jGrowl-notification growl-error">
                <div class="jGrowl-header"><strong>Oops!</strong></div>
                <div class="jGrowl-message" ng-bind-html="vm.signinErrorMessage"></div>
            </div>
        </div>
    </div>
</div>